* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #8a51fc;
}

main {
    background-color: #f4f4f4;
    margin: 0 auto 10px;
    width: 375px;
    border-radius: 20px;
    padding: 44px 24px 23px;
}

.logo-gif {
    width: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

label {
    color: #777777;
    font-weight: 400;
    font: 14px;
}

select,
input {
    width: 100%;
    height: 48px;
    border: 1px solid #bbbbbb;
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    padding-left: 18px;
    color: #555555;
    margin-bottom: 24px;
    cursor: pointer;
}

button {
    width: 100%;
    height: 48px;
    color: #ffffff;
    background: #772FD3;
    border: none;
    font-size: 18px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}
button:hover{
    opacity: 0.8;
}

section{
    border: 1px solid #8a51fc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 13px;
}
 .text{
    font-weight: 400;
    font-size: 14px;
    color: #777777;
 }   
 .value,.value-to-convert{
    font-weight: 700;
    font-size: 20px;
    color: #555555;
 }




.img-emoji{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.seta{
    margin: 10px 0;
}
div{
    text-align: center;
}

@media screen and (max-width:450px){
main{
    width: 300px;
   
    
}
section{
    height: 269px;

}
.logo-gif{
    width: 90px;
}
.img-emoji{
    width: 45px;
}

}